*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: hsl(230, 35%, 7%);
  --pale-blue: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
}
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
body {
  font-family: "Barlow", sans-serif;
  color: var(--white);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
}

/* HOMEPAGE  */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../public/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10rem 8rem 10rem;
}

.homepage-about {
  max-width: 35%;
  color: var(--pale-blue);
}

.homepage-about-travel {
  font-size: 1.75rem;
  letter-spacing: 4.5px;
  font-family: "Barlow Condensed", sans-serif;
}

.homepage-about h1 {
  color: var(--white);
  margin: 1.5rem 0;
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9.4rem;
}

.homepage-about-desc {
  font-size: 1.1rem;
  line-height: 1.7;
}

.homepage-btn {
  display: block;
  width: 17rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  cursor: pointer;
}

/* NAVBAR  */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2.3rem 0 2.3rem 4rem;
  color: var(--white);
}

.navbar-logo {
  margin-right: 4rem;
}
.navbar-decorative {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  left: 2.5rem;
  z-index: 5;
}

.line {
  width: 100%;
  height: 1px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.navbar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.desktop-nav {
  display: flex;
  gap: 3.1rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
}

.desktop-nav li {
  position: relative;
}

.desktop-nav li::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.5rem;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: 300ms ease;
}

.navigation--number {
  font-weight: 700;
}

/* DESTINATION PAGE  */

.destination-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../public/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin-top: 4.7rem;
  margin-bottom: 4rem;
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 4.7px;
  text-transform: uppercase;
}

.page-number {
  color: hsla(0, 0%, 100%, 0.2);
  font-weight: 700;
  margin-left: 10rem;
}

.destination-list {
  display: flex;
  gap: 2.3rem;
  color: var(--pale-blue);
  letter-spacing: 2.5px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.destination-list li {
  padding-bottom: 0.7rem;
}

.destination {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination-about {
  max-width: 40%;
}

.destination-about h3 {
  font-family: "Bellefair", serif;
  font-size: 6.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.destination-about p {
  color: var(--pale-blue);
  line-height: 1.7;
  font-size: 1.1rem;
  padding-bottom: 3.3rem;
}

.destination-image {
  margin-right: 10rem;
}

.destination-about-details {
  margin-top: 1.7rem;
  display: flex;
  gap: 5rem;
}

.destination-about-details h3 {
  font-size: 0.8rem;
  color: var(--pale-blue);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.4px;
}

.destination-about-details p {
  color: var(--white);
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

/* CREWPAGE  */

.crew-page {
  position: relative;
  min-height: 100vh;
  background-image: url(../public/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.crew {
  max-width: 75%;
  margin: 0 auto;
  font-family: "Bellefair", serif;
}
.crew-person {
  padding-top: 4rem;
  width: 50%;
  position: relative;
}

.crew-role {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.crew-name {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

.crew-bio {
  font-size: 1.1rem;
  font-family: "Barlow", sans-serif;
  color: var(--pale-blue);
  line-height: 32px;
  margin-bottom: 4rem;
}

.crew-img {
  position: absolute;
  bottom: 0;
  right: 15%;
}

.crew-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  max-width: 8.25rem;
}

.crew-nav--btn {
  width: 15px;
  height: 15px;
  background-color: var(--white);
  opacity: 0.15;
  border-radius: 50%;
}

/* TECHNOLOGY PAGE  */

.technology-page {
  min-height: 100vh;
  background: url(../public/assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.technologies {
  margin-left: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.technologies-nav {
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  padding-right: 8rem;
}

.technologies-nav--btn {
  width: 5rem;
  height: 5rem;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology-heading {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--pale-blue);
  font-weight: 400;
  letter-spacing: 2.7px;
  margin-bottom: 0.8rem;
}

.technology-name {
  font-size: 3.5rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.technology-description {
  color: var(--pale-blue);
  font-size: 1.1rem;
  line-height: 2rem;
}
.technology-about {
  max-width: 33%;
}

/* ACTIVE STATES  */

.active {
  color: white;
  border-bottom: 3px solid white;
}

.active-btn {
  opacity: 1;
}
.technologies-nav--btn-active {
  background-color: var(--white);
  color: var(--dark-blue);
}

ul li:hover {
  cursor: pointer;
}

.desktop-nav li:hover::after {
  width: 100%;
}

.destination-list li:hover {
  color: var(--white);
}
